# CI / dev tooling
/.git*              export-ignore
/.editorconfig      export-ignore
/phpstan.neon       export-ignore
/phpunit.xml.dist   export-ignore
/phpcs.xml.dist     export-ignore
/composer.lock      export-ignore

# Test suite
/tests/             export-ignore
/infection.json5    export-ignore

# Documentation
/docs/              export-ignore

# Benchmarks and data
/benchmarks/        export-ignore
/phpbench.json      export-ignore
